.body {
  display: flex;
  justify-content: center;
  /* Yatayda ortala */
  align-items: center;
  /* Dikeyde ortala */
  height: 100vh;
  /* Tam ekran yüksekliği */
  margin: 0;
  /* Varsayılan boşlukları kaldır */
}
.card-list {
  padding: 100px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
  margin-block: 40px;
}

.card-container {
  position: relative;
  justify-content: center;
  width: 500px;
  height: 400px;
  align-content: center;
  border-radius: 15px;
  // background-color: rgb(120, 150, 140);
  box-shadow: 0 0 17px 3px rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  &:hover {
    transition: 1s;
    .card {
      transform: scale(1.3);
      transform-origin: 100% 100%;
      transition: 1s; //??????????geri dönüş??????????????????????
    }
    .card-text {
      opacity: 1;
    }
    .bitkiAdi {
      transition: 1s;
      top: 25px;
      font-size: 35px;
    }
    a.edit,
    button.delete {
      opacity: 1;
    }
    .card-text {
      position: relative;
      transform: scale(1.1);
      transform-origin: center center;
      transition: 1s;
      opacity: 1;
    }
  }
  .delete,
  .edit {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 18.5px;
    left: 480px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(139, 139, 139);
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.29);
    box-shadow: 0 0 17px 3px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: width 2s ease, transform 2s ease;
    transform-origin: top left;
    opacity: 0;
    // &:hover {
    //   transition: 1s;
    //   // background-color: blue;
    //   // width: 90px;
    // }
  }
  a.edit {
    // background-color: blue;
    transition: 2s;
    // width: 190px;
    z-index: 2;
  }
  button.delete {
    top: 200px;
    transition: 2s;
    // width: 190px;
    z-index: 2;
  }
  button.delete:hover,
  a.edit:hover {
    transform-origin: left left;
    align-items: center;
    transition: 2s;
     box-shadow: 0 10px 37px 33px rgba(218, 218, 218, 0.3);
    // width: 190px;
    z-index: 2;
  }

  & .card {
    // background-color: red;
    position: relative;
    // align-content: center;
    // justify-content: center;
    right: -5px;
    width: 250px;
    height: 350px;
    display: flex;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
    #frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
    #resim {
      position: absolute;
      top: 45px;
      left: 40px;
      width: 70%;
      height: 75%;
      object-fit: cover;
      z-index: 2;
    }
  }
  .card-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: auto;
    // scrollbar-width: none;
    color: rgb(0, 0, 0);
    font-family: "Kalam";
    font-weight: lighter;
    margin-top: 80px;
    width: 220px;
    height: 350px;
    justify-content: center;
    gap: 5px;
    opacity: 0;
    transition: 1s;
    z-index: 1;
  }
  .bitkiAdi {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    //  right:40px;
    //  bottom:150px;
    font-size: 40px;
     font-family:  "Crafty Girls", serif;
    color: rgb(139, 76, 180);
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 1;
    right: 10%;
    top: 150px;
  }
}
